.text,
.title,
.subtitle {
  line-height: 1.7;
  font-family: "lexend";
  font-weight: 500;
}

.text {
  font-size: 1rem;
}

.title {
  font-size: 2rem;
}

.subtitle {
  font-size: calc(2rem - 12px);
}
.standard {
  color: var(--black);
}
.inherit {
  color: inherit;
}

.bold {
  font-weight: bold;
}

.primary {
  color: var(--primary);
}

.soft {
  color: var(--grat-dark);
}
