.text,
.bigtitle,
.title,
.subtitle {
  line-height: 1.7;
  font-family: "lexend";
  font-weight: 500;
}

.text {
  font-size: 1rem;
}

.title {
  font-size: 2.12rem;
  line-height: 1.25;
}

.bigtitle {
  font-size: 2.67rem;
}

.subtitle {
  font-size: 24px;
}
.standard {
  color: var(--black);
}
.inherit {
  color: inherit;
}

.primary {
  color: var(--primary);
}
.very-light {
  color: var(--light-white);
}
.light {
  color: var(--white);
}
.soft {
  color: var(--dark-white);
}
.soft-light {
  color: var(--light-blue-transparent);
}
.link {
  color: var(--light-blue);
  text-decoration: underline;
}

.normal {
  font-weight: 500;
}

.font-light {
  font-weight: 300;
}

.bold {
  font-weight: bold;
}

.extra-bold {
  font-weight: bolder;
}
