.text,
.bigtitle,
.title,
.subtitle,
.smalltitle,
.smallsubtitle {
  line-height: 1.7;
  font-family: "lexend";
  font-weight: 500;
}
.title,
.subtitle,
.smallsubtitle {
  line-height: 1.4;
}

.text {
  font-size: 1rem;
}

.title {
  font-size: 2rem;
  line-height: 1.15;
}
.smalltitle {
  font-size: 1.778rem;
  line-height: 1.15;
}
.bigtitle {
  font-size: 2.67rem;
  line-height: 1.15;
}

.ultrabigtitle {
  font-size: 3.33334rem;
  line-height: 1.15;
}

.subtitle {
  font-size: 24px;
}
.smallsubtitle {
  font-size: 21px;
}
.standard {
  color: var(--text);
}
.inherit {
  color: inherit;
}

.font-primary {
  font-family: "lexend";
}

.font-secondary {
  font-family: "ms serif display";
}

.black {
  color: var(--black);
}
.primary {
  color: var(--primary);
}
.very-light {
  color: var(--light-white);
}
.light {
  color: var(--white);
}
.dark-light {
  color: var(--dark-white);
}
.error {
  color: var(--error);
}
.soft {
  color: var(--dark-white);
}
.soft-light {
  color: var(--light-blue-transparent);
}
.link {
  color: var(--light-blue);
  text-decoration: underline;
}

.normal {
  font-weight: 500;
}
.regular {
  font-weight: 400;
}
.font-light {
  font-weight: 300;
}
.semibold {
  font-weight: 600;
}
.bold {
  font-weight: bold;
}

.extra-bold {
  font-weight: bolder;
}

@media screen and (max-width: 400px) {
  .ultrabigtitle {
    font-size: 2.5rem;
  }
}
