.preFooter {
  background-color: var(--light-black);
  display: flex;
  gap: 32px;
  padding-left: var(--width-unit);
  padding-right: var(--width-unit);
  padding-top: 64px;
  padding-bottom: 64px;
  justify-content: center;
  word-wrap: break-word;
  border-radius: 60px 60px 0 0;
}

.preFooter .desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.preFooterImg {
  width: 240px;
}

@media screen and (max-width: 800px) {
  .preFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
  }
  .preFooter .desc {
    display: flex;
    flex-direction: column;
  }

  .preFooterImg {
    width: 100%;
    display: none;
  }
}
