.page {
  background-color: var(--background);
  min-height: 100vh;
  width: 100%;
}
.header {
  height: calc(var(--width-unit) * 2);
  display: flex;
  flex-direction: column;
}
.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 16px;
  background: var(--gradient);
}
.imgBanner1,
.imgBanner2 {
  position: absolute;
  width: 300px;
}
.imgBanner1 {
  left: 5%;
  bottom: -5%;
}
.imgBanner2 {
  right: 5%;
  top: 0;
}

.subnav {
  display: flex;
  justify-content: flex-end;
  padding-left: var(--width-unit);
  padding-right: var(--width-unit);
  padding-top: 24px;
  padding-bottom: 24px;
  gap: 16px;
  background-color: var(--gray);
}
.line {
  height: 40px;
  width: 100%;
  background-color: var(--light-green);
}
.main {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.books {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 32px;
}

@media screen and (max-width: 1000px) {
  .books {
    grid-template-columns: repeat(2, auto);
    gap: 16px;
  }
}

@media screen and (max-width: 600px) {
  .books {
    grid-template-columns: repeat(1, auto);
  }
}
