.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--black-transparent);
  z-index: 10000;
  padding: 8px;
}

.modal.show {
  display: flex;
}

.modalContent {
  position: relative;
  width: 50%;
  border-radius: 8px;
  background-color: var(--white);
  min-height: 230px;
  overflow: auto;
}
.header {
  padding: 16px;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid var(--gray);
}
@media screen and (max-width: 600px) {
  .modalContent {
    width: 100%;
  }
  .closeButton {
    top: 7%;
    right: 6%;
  }
}
