@keyframes hide-top {
  0% {
    transform: translateY(0);
  }
  5% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.nav {
  display: flex;
  background-color: var(--black);
  height: var(--linea-amarilla);
  padding-left: var(--width-unit);
  padding-right: var(--width-unit);
  align-items: center;
  position: fixed;
  width: 100vw;
  z-index: 1000;
  top: 0;
  animation: hide-top 1s linear forwards;
  animation-timeline: scroll();
}
.elements {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: calc(var(--width-unit) * 3);
}
.topMenu,
.bottomMenu {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.topMenu {
  gap: 16px;
  justify-content: center;
}
.bottomMenu {
  justify-content: space-between;
}

.nav *:not(.logo) {
  z-index: 2;
}
.logo {
  z-index: 0;
}
.left {
  display: flex;
  align-items: center;
  gap: 64px;
}
.right {
  display: flex;
  align-items: center;
  gap: 16px;
}
.btnDropdown {
  display: none;
}

.separator {
  width: 2px;
  height: 2rem;
  background-color: var(--gray-light);
}
.iconWS {
  display: inline;
  position: relative;
  top: 4px;
}
.resoursesDropDown {
  top: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  height: calc(100vh - var(--linea-amarilla));
  background-color: var(--light-gray);
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in;
}

.resoursesDropDown.show {
  visibility: visible;
  opacity: 1;
}

body:has(.resoursesDropDown.show) {
  overflow-y: hidden;
}

.resoursesDropDown .cardsBanner {
  display: flex;
  width: 100%;
  height: fit-content;
  background-color: var(--white);
  justify-content: center;
  transform: scale(0);
  transform-origin: top;
  transition: transform 0.3s ease-in-out;
}
.resoursesDropDown .contactBanner {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--white);
  height: fit-content;
  padding: 32px;
  width: 300px;
  right: 25%;
}
.resoursesDropDown .contactBanner > * {
  transition: all 0.3s ease-in;
}
.resoursesDropDown .contactBanner > *:hover {
  color: var(--primary);
  cursor: pointer;
  transform: translateX(16px);
}
.resoursesDropDown .content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}
.resoursesDropDown .content > :nth-child(1) {
  align-self: flex-end;
}
.resoursesDropDown.show .cardsBanner {
  transform: scale(1);
}

.separator {
  width: 1px;
  height: 100%;
  background-color: var(--gray);
}
.resoursesDropDown .cards {
  display: flex;
  gap: 32px;
}
.resoursesDropDown .card {
  width: 250px;
  background-color: var(--gray-blue);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
}
.resoursesDropDown .card:hover > :nth-child(3) {
  color: var(--primary);
}
.resoursesDropDown .cardImg {
  width: 100%;
  height: 200px;
  border-radius: 8px;
}
.mobileMenu {
}
.dropdownMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--black);
  overflow: hidden;
}
.dropMenuBtn {
  width: 100%;
  display: flex;
  padding: 16px;
  cursor: pointer;
  justify-content: center;
}
.dropElements {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--gray-light);
  transform-origin: top;
  overflow: hidden;
  transition: all 0.3s ease-in;
  max-height: 0;
}
.dropElements.show {
  max-height: fit-content;
}
.mobileCard {
  display: flex;
  background-color: var(--gray-blue);
  padding: 16px;
  border-radius: 8px;
  margin: 8px 16px;
  gap: 16px;
  cursor: pointer;
}
.mobileCard .mobileImg {
  width: 100px;
  height: 100px;
  border-radius: 8px;
}
.mobileCard .mobileDesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.seeGuides {
  align-self: flex-end;
}
.mobileContact {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px 16px;
}
@media screen and (max-width: 1200px) {
  .elements {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .nav {
    padding: 8px;
    height: auto;
  }
}

@media screen and (max-width: 800px) {
  .nav {
    padding: 0;
    height: auto;
    animation: none;
    padding: 0 32px;
  }

  .topMenu {
    display: none;
  }

  .right > :nth-child(1),
  .right > :nth-child(2),
  .right > :nth-child(3),
  .right > :nth-child(4),
  .right > :nth-child(5) {
    display: none;
  }
  .btnDropdown {
    display: flex;
  }
}
