@keyframes hide-top {
  0% {
    transform: translateY(0);
  }
  5% {
    transform: translateY(-45%);
  }
  100% {
    transform: translateY(-45%);
  }
}

.nav {
  display: flex;
  align-items: center;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
}
.nav.ajust {
  height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  animation: none;
}
.elements {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 1000;
  border-bottom: 2px solid var(--primary-transparent-50);
  box-shadow: 1px 0 4px var(--gray-light);
}
.topMenu,
.bottomMenu {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.topMenu {
  width: 100%;
  gap: 16px;
  justify-content: center;
  background-color: var(--primary);
  padding: 12px;
  position: relative;
  border-bottom: 1px solid var(--primary-transparent);
  cursor: pointer;
}
.country {
  position: relative;
  top: 4px;
}
.closeBtn {
  position: absolute;
  right: 2.5%;
}
.bottomMenu {
  justify-content: space-between;
  padding-left: var(--width-unit);
  padding-right: var(--width-unit);
  background-color: var(--primary-transparent);
}
.bottomMenu.changeColor {
  background-color: var(--light-green);
}
.linkContainer {
  position: relative;
}
.newTag {
  position: absolute;
  background-color: var(--primary-darker);
  padding: 0 4px;
  right: -10%;
  top: -20%;
}
.logo {
  cursor: pointer;
  z-index: 0;
}
.left {
  display: flex;
  align-items: center;
  gap: 64px;
}
.right {
  display: flex;
  align-items: center;
  gap: 16px;
}
.btnDropdown {
  display: none;
}

.nav .separator {
  width: 2px;
  height: 2rem;
  margin: 0 16px;
  background-color: var(--gray-light);
}

.formBtn {
}
.iconWS {
  display: inline;
  position: relative;
  top: 4px;
}
.resoursesDropDown {
  top: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: var(--gray-dark);
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in;
  z-index: 0;
}

.resoursesDropDown.show {
  visibility: visible;
  opacity: 1;
  z-index: 0;
}

body:has(.resoursesDropDown.show) {
  overflow-y: hidden;
}

.resoursesDropDown .cardsBanner {
  position: relative;
  display: flex;
  width: 100%;
  height: fit-content;
  background-color: var(--light-green);
  justify-content: center;
  transform: translateY(-100%);
  visibility: hidden;
  transform-origin: top;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  z-index: -5;
  border-radius: 0 0 48px 48px;
}

.resoursesDropDown.show .cardsBanner.show {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.resoursesDropDown .contactBanner,
.resoursesDropDown .aboutUs {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--light-green);
  height: fit-content;
  padding: 32px;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  top: -100%;
  transition: all 0.5s ease-in-out;
  z-index: 1000;
  border-radius: 0 0 40px 40px;
}
.resoursesDropDown .contactBanner .content,
.resoursesDropDown .aboutUs .content {
  width: fit-content;
  position: relative;
  left: 25%;
  display: flex;
  flex-direction: column;
}
.contactBanner .contactBtn,
.aboutUs .contactBtn {
  border-radius: 8px;

  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.mobileContact {
  background-color: var(--primary-transparent-2);
  height: 100%;
}
.mobileContact .contactBtn {
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.resoursesDropDown.show .contactBanner.show,
.resoursesDropDown.show .aboutUs.show {
  top: 0;
  visibility: visible;
  opacity: 1;
}

.resoursesDropDown .contactBanner .content > * {
  transition: all 0.3s ease-in;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 16px;
}

.resoursesDropDown .content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
}
.resoursesDropDown .content > :nth-child(1) {
}

.resoursesDropDown .separator {
  width: 1px;
  height: 100%;
  background-color: var(--gray);
}
.resoursesDropDown .cards {
  display: flex;
  gap: 32px;
}
.resoursesDropDown .card {
  width: 220px;
  background-color: var(--white);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--black);
}
.resoursesDropDown .card:hover {
  background-color: var(--gray-blue-dark);
  transform: scale(1.1);
}
.resoursesDropDown .card:hover > :nth-child(3) {
  color: var(--primary-dark);
}

.resoursesDropDown .cardImgContainer {
  width: 100%;
  height: 120px;
  overflow: hidden;
  background-color: var(--black);
}
.resoursesDropDown .cardImg {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.resoursesDropDown .developText {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  cursor: pointer;
}

.resoursesDropDown.show .developText:hover {
  overflow: hidden;
  background-color: var(--gray-blue-dark);
  transition: all 0.3s ease-in-out;
}

.resoursesDropDown .cardsBanner .developText > * {
  transition: all 0.3s ease-in-out;
}
.resoursesDropDown .cardsBanner.show .developText:hover > * {
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}
.resoursesDropDown .cardsBanner .seeEbooksBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  cursor: pointer;
  transition: all 0.3s ease-in;
  padding-top: 4px;
  padding-bottom: 8px;
  border-radius: 4px;
}
.resoursesDropDown .cardsBanner .seeEbooksBtn:hover {
  background-color: var(--primary-transparent-2);
  padding-left: 8px;
}
.mobileMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: var(--primary-transparent-2);
}
.btns {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px;
  border-top: 1px solid var(--gray-light);
}
.btns * {
  font-size: 17px !important;
}
.dropdownMenu {
  display: flex;
  flex-direction: column;

  overflow: hidden;
}
.dropMenuBtn {
  width: 100%;
  display: flex;
  padding: 16px;
  cursor: pointer;
  justify-content: space-between;
}
.dropdownTitleDesc {
  display: flex;
  flex-direction: column;
}
.dropdownTitle > :last-child {
  position: relative;
  top: 2px;
}
.dropdownTitle {
  display: flex;
  align-items: center;
  gap: 4px;
}

.resourcesContainer {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 16px;
}

.dropElements {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--primary-transparent-2);
  transform-origin: top;
  overflow: hidden;
  transition: all 0.3s ease-in;
  height: 100% !important;
}

.mobileCard {
  display: flex;
  background-color: #fff;
  border: 1px solid var(--primary);
  padding: 16px;
  border-radius: 8px;

  gap: 16px;
  cursor: pointer;
}
.mobileCardContainer {
  background-color: var(--black);
}
.mobileCard .mobileImg {
  width: 100px;
  height: 75px;
  border-radius: 8px;
}
.mobileCard .mobileDesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.seeGuides {
  align-self: flex-end;
}
.mobileContact {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px 16px;
  gap: 16px;
}
@media screen and (max-width: 1200px) {
  .elements {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .nav {
    height: auto;
  }
  .topMenu {
    display: none;
  }
  .right > :nth-child(1),
  .right > :nth-child(2),
  .right > :nth-child(3),
  .right > :nth-child(4),
  .right > :nth-child(5) {
    display: none;
  }
  .btnDropdown {
    display: flex;
  }
  .bottomMenu {
    padding: 0 32px;
  }
}

@media screen and (max-width: 800px) {
  .nav {
    padding: 0;
    height: auto;
    animation: none;
  }

  .resoursesDropDown {
    display: none;
  }

  .elements {
    justify-content: space-between;
    padding: 0;
  }

  .topMenu {
    display: none;
  }
}
