.dropdown {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dropdown .header {
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid var(--black);
  align-items: flex-start;
}

.dropdown .icon {
  transition: all 0.3s ease-in;
}

.dropdown .icon.inverted {
  transform: rotateX(180deg);
}

.dropdown .content {
  transform-origin: top;
  overflow: hidden;
  height: 0;
  transition: all 0.3s ease-in;
}

.dropdown .content.show {
  height: 150px;
}
