.mark {
  color: var(--primary);
  font-weight: bold;
}

.mark.soft {
  color: var(--gray);
  font-weight: bold;
}

.mark.error {
  color: var(--error);
  font-weight: bold;
}

.mark.dark {
  color: var(--black);
  font-weight: bold;
}

.mark.submarked-blue {
  color: var(--black);
  background-color: #bcccdc;
}
.mark.mark.submarked-blue-light {
  background-color: var(--dark-blue);
  color: var(--white);
}
.mark.submarked-yellow {
  color: var(--black);
  background-color: #e0ddd3;
}

.mark.underline {
  text-decoration: underline;
  color: var(--dark-black);
}
.mark.primary-underline {
  color: var(--primary);
  text-decoration: underline;
  font-weight: bold;
}

.mark.underline-blue {
  text-decoration: underline;
  color: var(--very-light-black);
}

.mark.error {
  text-decoration: underline;
  color: red;
}
.mark.marked {
  color: var(--white);
  text-decoration: underline;
}
.medium {
  font-weight: 500;
}
.regular {
  font-weight: 400;
}
.font-light {
  font-weight: 300;
}
.semibold {
  font-weight: 600;
}
.bold {
  font-weight: bold;
}

.extra-bold {
  font-weight: bolder;
}
