.page {
  position: relative;
  background-color: var(--background);
  min-height: 100vh;
  width: 100%;
  overflow-y: hidden;
  --banner-height: calc(var(--width-unit) * 2);
  --yellow-line: calc(var(--width-unit) * 0.375);
  --green-line: calc(var(--width-unit) * 0.25);
  --mobile-margin: 32px;
  overflow-x: hidden;
}

.line {
  display: flex;
  gap: 12px;
  align-items: center;
}

.markLine {
  width: 40px;
  height: 1px;
  background-color: var(--black);
}

.markLine.primary {
  background-color: var(--primary);
}

.banner {
  width: 100%;
  height: var(--banner-height);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--black);
}

.banner .elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;
  top: 25%;
}
.videoDrawer {
  width: calc(var(--width-unit) * 3.5);
  position: relative;
}
.videoImg {
  width: 100%;
  height: auto;
}
.videoPlayBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  display: flex;
  width: 80px;
  height: 80px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.modalVideo {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--black-transparent);
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.modalVideo.show {
  visibility: visible;
  opacity: 1;
}
.videoSection__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.videoSection__desc .btns {
  display: flex;
  gap: 16px;
}
.video {
  width: 650px;
  height: 400px;
}

.main {
  display: flex;
  flex-direction: column;
  padding-top: 20%;
}

.main > *:not(.contact) {
  padding-left: var(--width-unit);
  padding-right: var(--width-unit);
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}
.applyBtn {
  width: 240px;
}
.title {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
}
.benefits {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 32px;
}
.benefit {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.iconBenefit {
  width: 64px;
}

.faq {
  display: flex;
  margin-top: 128px;
  gap: 40px;
}

.faq .desc {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
}
.faq .desc .wpBtn {
  width: 300px;
  align-self: self-start;
}

.faq .dropdowns {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.faq .dropdown {
  padding-bottom: 16px;
  width: 600px;
}

.contact {
  display: flex;
  background-color: var(--black);
}

.contact .desc {
  background-color: var(--light-black);
  padding-top: 64px;
  padding-left: var(--width-unit);
  width: 50%;
}

.contact .formContainer {
  display: flex;
  padding-top: 64px;
  flex-direction: column;
  padding-right: var(--width-unit);
  width: 50%;
}
.contact .form {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding-left: 64px;
  gap: 16px;
}

.contact .formLine {
  display: flex;
  width: 100%;
  gap: 16px;
}

.contact .formLine > * {
  width: 50%;
}

.contact .btnEnviar {
  width: fit-content;
  align-self: flex-end;
}
