.page {
  position: relative;
  background-color: var(--background);
  min-height: 100vh;
  width: 100%;
  --banner-height: calc(var(--width-unit) * 2);
  --yellow-line: calc(var(--width-unit) * 0.375);
  --green-line: calc(var(--width-unit) * 0.25);
  --mobile-margin: 32px;
}
.flecha {
  width: 300px;
  position: absolute;
}
.flecha.nuestroPrograma {
  bottom: 40%;
  left: 16%;
  display: none;
}
.line {
  display: flex;
  gap: 12px;
  align-items: center;
}
.separator {
  width: 100%;
}
.markLine {
  width: 40px;
  height: 1px;
  background-color: var(--black);
}

.markLine.primary {
  background-color: var(--primary);
}

.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-transparent-2);
  border-top: 1px solid var(--blue);
  position: relative;
  padding-top: 80px;
  padding-bottom: 44px;
}

.banner .elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;
  top: 25%;
}
.banner .elements > :first-child {
  margin-bottom: 44px;
}
.videoContainer {
  display: flex;
  gap: 44px;
}
.videoDrawer {
  width: calc(var(--width-unit) * 2);
  position: relative;
}
.videoImg {
  width: 100%;
  height: auto;
}
.videoPlayBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  display: flex;
  width: 80px;
  height: 80px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.modalVideo {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--black-transparent);
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.formContacto {
  display: flex;
  flex-direction: column;
  width: 540px;
}
.formContacto > :nth-child(1) {
  padding-bottom: 12px;
}
.formContacto > :nth-child(2) {
  padding-bottom: 20px;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.inputLine {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 16px;
}
.inputLine > * {
  width: 380px;
}
.modalVideo.show {
  visibility: visible;
  opacity: 1;
}
.videoSection__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.videoSection__desc .btns {
  display: flex;
  gap: 16px;
}
.video {
  width: 650px;
  height: 400px;
}
.nextStepBtn {
  display: flex;
  justify-content: center;
}
.main {
  display: flex;
  flex-direction: column;
  padding-top: 72px;
  background-color: var(--light-green);
}

.main > *:not(.contact) {
  padding-left: var(--width-unit);
  padding-right: var(--width-unit);
}
.header {
  display: flex;
  flex-direction: column;
  word-break: keep-all;
}
.ventaHumo {
  display: flex;
  flex-direction: column;
  width: 85%;
  align-self: center;
}
.ventaHumo > :first-child {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  width: 80%;
  align-self: center;
  gap: 32px;
}
.ventaHumo > .subsection {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 44px;
  align-items: center;
}

.sectionHorrible {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px;
  padding-bottom: 0px;
  background-color: var(--black-horrible);
}
.sectionHorrible > .subsection {
  display: flex;
  flex-direction: column;
  width: 85%;
  gap: 44px;
  align-items: center;
}
.ventaHumo > .subsection > *:not(:first-child) {
  width: 80%;
}
.sectionHorrible > .subsection > *:not(:first-child) {
  width: 80%;
}
.errors {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.error {
  display: flex;
  gap: 16px;
  position: relative;
  right: 16px;
}
.neneArio {
  width: 100%;
  position: relative;
  transform: scale(1.5);
  top: 120px;
}
.cardMeet {
  background-color: var(--white);
  padding: 64px;
  width: 85%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 120px;
  box-shadow: 0 2px 8px var(--black-transparent);
}
.flecha1Izquierda {
  bottom: 4%;
  left: -6%;
}
.flecha1Derecha {
  right: -6%;
  bottom: 4%;
  transform: rotateZ(180deg);
}
.cardMeet .btnMeet {
  height: 72px;
  width: 400px;
}
.cardMeet .cardMeetDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 80%;
  gap: 32px;
  margin-top: 32px;
}
.comoFunciona {
  display: flex;
  flex-direction: column;
  width: 85%;
  align-self: center;
  padding-top: 188px;
  padding-bottom: 72px;
  position: relative;
}

.comoFunciona > .subsection {
  padding-top: 44px;
  display: flex;
  flex-direction: column;
  gap: 36px;

  width: 80%;
  align-items: center;
  align-self: center;
  position: relative;
}
.flecha2 {
  top: 50%;
  left: -25%;
  width: 150px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.list > .element {
  display: flex;
  gap: 32px;
}

.contact {
  display: flex;
  padding-top: 72px;
  background-color: var(--primary-dark);
  position: relative;
  padding-bottom: 60px;
}

.flecha3 {
  position: absolute;
  width: 180px;
  left: 40%;
}

.contact .desc {
  padding-left: var(--width-unit);
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contact .formContainer {
  display: flex;
  flex-direction: column;
  padding-right: var(--width-unit);
  width: 50%;
}
.contact .form {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 48px 32px;
  border-radius: 8px;
  gap: 24px;
  margin-left: 80px;
  background-color: var(--light-green);
  box-shadow: -8px 8px 0px rgb(168, 206, 150);
}

.contact .formLine {
  display: flex;
  width: 100%;
  gap: 16px;
}

.contact .formLine > * {
  width: 50%;
}

.contact .btnEnviar {
  width: fit-content;
  align-self: flex-end;
}
.separator_footer {
  height: 0.77rem;
  border: 1px solid var(--light-blue-transparent);
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black);
  height: 100px;
  gap: 8px;
  justify-content: center;
}
.footer .links {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media screen and (max-width: 1280px) {
  .flecha {
    display: none;
  }

  .banner {
    height: auto;
    padding: 32px;
    position: relative;
  }
  .banner .elements {
    gap: 0;
  }
  .formContacto > :nth-child(1) {
    padding-bottom: 20px;
  }
  .formContacto > :nth-child(2) {
    padding-bottom: 24px;
  }
  .videoDrawer {
    width: 80%;
  }
  .videoContainer {
    flex-direction: column;
    align-items: center;
  }
  .inputLine {
    flex-direction: column;
  }
  .inputLine > * {
    width: 100%;
  }
  .formContacto {
    width: 100%;
  }
  .contact .form {
    margin-left: 0;
  }
  .comoFunciona {
    padding-top: 120px;
  }
  .comoFunciona::after {
    display: none;
  }
  .cardMeet .btnMeet {
    height: 40px;
    width: 240px;
  }
  .main {
    padding-top: 32px;
  }
  .main > *:not(.contact) {
    padding-left: 0;
    padding-right: 0;
  }

  .contact {
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 32px;
    gap: 44px;
    padding-top: 72px;
    padding-bottom: 60px;
  }
  .contact .desc {
    width: 100%;
    padding: 0;
  }
  .contact .formContainer {
    width: 100%;
    padding: 0;
    display: flex;
  }
  .contact .form {
    width: 100%;
  }
  .contact .formLine {
    flex-direction: column;
  }
  .contact .formLine > * {
    width: 100%;
  }

  .ventaHumo {
    width: 100%;
  }
  .ventaHumo > .subsection {
    padding: 32px;
    margin-top: 28px;
  }
  .ventaHumo > .subsection > * {
    width: 100% !important;
  }
  .sectionHorrible > .subsection > * {
    width: 100% !important;
  }
}
@media screen and (max-width: 800px) {
  .neneArio {
    transform: scale(1.1);
    width: 100%;
  }
  .list {
    gap: 32px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .banner {
    padding: 64px;
  }
  .contact {
    padding: 64px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contact {
    padding: 64px;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .main {
    padding-top: 44px;
  }
  .cardMeet {
    width: 100%;
    border-radius: 0;
    padding: 32px;
    top: 60px;
  }
  .cardMeet .cardMeetDetail {
    align-self: flex-start;
    width: 100%;
  }
  .comoFunciona .subsection {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .videoDrawer {
    width: 100%;
    top: 0;
  }
  .main {
    padding-top: 44px;
  }

  .header .elements > :nth-child(2) {
    text-align: start;
    word-wrap: break-word;
  }

  .ventaHumo {
    width: 100%;
  }
  .ventaHumo > .subsection {
    padding: 32px;
    margin-top: 28px;
  }
  .ventaHumo > .subsection > * {
    width: 100% !important;
  }
  .sectionHorrible > .subsection > * {
    width: 100% !important;
  }

  .cardMeet {
    width: 100%;
    border-radius: 0;
    padding: 32px;
    top: 60px;
  }
  .cardMeet .cardMeetDetail {
    align-self: flex-start;
    width: 100%;
  }
  .comoFunciona .subsection {
    width: 100%;
  }
}
