.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: var(--primary-transparent-2);
  padding-left: var(--width-unit);
  padding-right: var(--width-unit);
  padding-top: 52px;
  padding-bottom: 32px;
}
.footer__desc {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}
.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  position: relative;
  bottom: 16px;
}
.linkSection {
  display: flex;
  gap: 40px;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.copy {
  display: flex;
  gap: 32px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.socialMedia {
  align-self: flex-end;
}
.separator {
  margin-top: 8px;
  margin-bottom: 8px;
  height: 1px;
  width: 100%;
  background-color: var(--primary);
}
.links {
  display: flex;
  align-items: center;
  gap: 8px;
}
.vbar {
  width: 1px;
  background-color: var(--dark-white);
  height: 12px;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 32px;
  }
  .header {
    gap: 32px;
    flex-direction: column;
  }
  .copy {
    flex-direction: column;
  }
}
