.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--black);
  padding: 32px;
}
.footer__desc {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.links {
  display: flex;
  gap: 64px;
}
.links * {
  color: var(--white);
  text-decoration: underline;
}
