.preefooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 44px 28px;
  background-color: var(--primary-transparent-25);
  border-radius: 80px 80px 0 0;
}

@media screen and (max-width: 1024px) {
  .preefooter {
    gap: 12px;
  }
  .preefooter > * {
    text-align: center !important;
  }

  .preefooter > :nth-child(1) {
    font-size: 20px;
  }
  .preefooter > :nth-child(2) {
    font-size: 15px;
  }
}
