.iconButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.primary {
  padding: 6px;
  border: 1px solid var(--primary);
  border-radius: 8px;
}

.primary > * {
  color: var(--primary);
}
