.primary.iconTextButton,
.secondary.iconTextButton {
  display: flex;
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 12px;
  background-color: transparent;
  transition: background 0.2s ease-in;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  gap: 16px;
}

/* Primary */
.primary.iconTextButton.full {
  background-color: var(--primary);
  color: var(--dark-black);
}
.primary.iconTextButton:disabled {
  background-color: #2d4356;
  cursor: auto;
  color: var(--white);
  cursor: no-drop;
}
.primary.iconTextButton:disabled:hover {
}
.primary.iconTextButton.full:hover {
  background-color: var(--primary-dark);
}

.primary.iconTextButton.bordered:hover {
}

.primary.iconTextButton.bordered {
  border: 1px solid var(--primary);
  color: var(--primary);
}

/* Secondary */
.secondary.iconTextButton {
  border: 1px solid var(--primary);
  border-radius: 8px;
  color: var(--white);
  background-color: transparent;
  transition: all 0.3s ease-in;
}

.secondary.iconTextButton:hover {
  background-color: var(--primary-transparent);
}

.secondary.iconTextButton > i {
  color: var(--primary);
}

/* terciary */

.terciary.iconTextButton {
  border-radius: 8px;
  color: var(--white);
  background-color: var(--black);
  transition: all 0.3s ease-in;
}
