.page {
  background-color: var(--background);
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: center;
  background-color: var(--black);
  border-bottom: 1px solid var(--gray);
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ebook {
  width: 340px;
  height: auto;
  object-fit: cover;
}

.banner {
  display: flex;
  gap: 32px;
  padding-top: var(--linea-amarilla);
  padding-bottom: var(--linea-amarilla);
  padding-left: var(--width-unit);
  padding-right: var(--width-unit);
  background-color: var(--black);
}

.banner__desc {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.downloadEBook {
  width: 50%;
  height: 80px;
}

.downloadEBook > :first-child {
  height: 100% !important;
}

.moreInfo {
  padding-top: var(--linea-amarilla);
  padding-bottom: var(--linea-amarilla);
  padding-left: var(--width-unit);
  padding-right: var(--width-unit);
  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 440px;
}
.line {
  display: flex;
  gap: 8px;
}
.imgPortada {
  width: 400px;
}
.prefooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: calc(var(--linea-amarilla) / 2);
  padding-bottom: calc(var(--linea-amarilla) / 2);
  padding-left: var(--width-unit);
  padding-right: var(--width-unit);
  background: var(--light-black);
}
.prefooter .downloadBtn {
  display: flex;
  width: 350px;
  height: 80px;
}
.separator {
  height: 0.77rem;
  border: 1px solid var(--light-blue-transparent);
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black);
  padding-top: 32px;
  gap: 8px;
  padding-bottom: calc(var(--linea-amarilla) / 2);
}
.footer .links {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media screen and (max-width: 800px) {
  .banner {
    flex-direction: column-reverse;
    width: 100%;
    padding: 32px;
  }
  .ebook {
    width: 100%;
    transform: scale(1.2);
  }

  .desc {
    margin-left: 32px;
  }
  .downloadEBook {
    align-self: center;
  }
}
