.page {
  position: relative;
  background-color: var(--background);
  min-height: 100vh;
  width: 100%;
  --banner-height: calc(var(--width-unit) * 2);
  --yellow-line: calc(var(--width-unit) * 0.375);
  --green-line: calc(var(--width-unit) * 0.25);
  --mobile-margin: 32px;
}
.line {
  display: flex;
  gap: 12px;
  align-items: center;
}

.markLine {
  width: 40px;
  height: 1px;
  background-color: var(--black);
}

.markLine.primary {
  background-color: var(--primary);
}

.markLine.secondary {
  background-color: var(--secondary);
}

.help {
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}

.wsBtn {
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}
.notification {
  padding: 16px;
  display: flex;
  width: 270px;
  background-color: var(--white);
  border-radius: 16px;
}

.header {
  /*  height: var(--banner-height); */
  display: flex;
  flex-direction: column;
}
.banner {
  position: relative;
  width: 100%;
  flex-grow: 1;
  padding-right: var(--width-unit);
  padding-left: var(--width-unit);
  padding-top: calc(var(--linea-roja));
  padding-bottom: var(--linea-roja);
  display: flex;
  background: var(--black);
}

.contents {
  display: flex;
  height: var(--width-unit);
  justify-content: space-between;
  gap: 64px;
}
.contents > :last-child {
  position: relative;
  bottom: 32px;
  left: 32px;
}
.underLine {
  border-bottom: 4px solid var(--black);
}
.underLine2 {
  border-bottom: 4px solid var(--white);
}
.banner__bg {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.banner__content {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  width: 600px;
  gap: 24px;
}

.banner__btns {
  display: flex;
  height: 3.5rem;
  align-self: flex-start;
  width: 300px;
}

.contactBannerSection {
  display: flex;
  width: 100%;
  background-color: var(--white);
  padding-left: var(--width-unit);
  padding-right: var(--width-unit);
  padding-top: 128px;
  padding-bottom: 128px;
  gap: 64px;
  justify-content: space-between;
}

.contactBannerSection .desc {
  display: flex;
}
.contactBannerSection .stickyContainer {
  display: flex;
  flex-direction: column;
  width: 400px;
  position: sticky;
  top: 220px;
  gap: 16px;
}
.contactBannerSection .details {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 600px;
}

.contactBannerSection .details .detail {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contactBannerSection .btns {
  display: flex;
  gap: 8px;
}
.contactBannerSection .btns > :first-child {
  width: 300px !important;
}
.contactBannerSection .links {
  display: flex;
  border: 1px solid var(--light-gray);
  border-radius: 16px;
  width: fit-content;
  padding: 4px 8px;
  gap: 8px;
  align-items: center;
}
.contactBannerSection .separator {
  width: 1px;
  height: 1rem;
  background-color: var(--light-gray);
}
.contactBannerSection .imgSubBanner {
  width: 820px;
  height: auto;
}

.spainBanner {
  background-color: var(--light-black);
  padding-left: var(--width-unit);
  padding-right: var(--width-unit);
  display: flex;
  padding-top: 64px;
  padding-bottom: 64px;
  gap: 32px;
}

.spainBanner .spainBannerImg {
  width: 600px;
  filter: drop-shadow(0px 0px 40px rgba(255, 238, 206, 0.151));
}

.spainBanner .desc {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
  top: 64px;
}
.spainBanner .seeMore {
  width: 300px;
  height: 60px;
}

.mainContent {
  display: flex;
  gap: var(--linea-roja);
  background: var(--white);
  padding-top: var(--linea-roja);
  padding-bottom: var(--linea-roja);
  padding-left: var(--width-unit);
  padding-right: var(--width-unit);
  justify-content: space-between;
}

.iconBenefit {
  width: 48px;
}

.mainContent .desc {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mainContent .card {
  display: flex;
  flex-direction: column;
  padding: 32px;
  background-color: var(--white);
  border-radius: 16px;
  width: 340px;
  gap: 12px;
  cursor: pointer;
  box-shadow: 4px 4px 120px rgba(58, 58, 58, 0.288);
  transition: transform 0.3s ease-in;
}
.mainContent .card:hover {
  transform: scale(1.1);
}
.mainContent .card .cardImg {
  width: 100%;
}

.bannerImg {
  position: relative;
  bottom: 32px;
  height: auto;
  object-fit: fill;
}

.videoSection {
  width: 100%;
  display: flex;
  gap: 32px;
}
.videoDrawer {
  width: 650px;
  position: relative;
}
.videoImg {
  width: 100%;
  height: auto;
}
.videoPlayBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  display: flex;
  width: 80px;
  height: 80px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.modalVideo {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--black-transparent);
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.modalVideo.show {
  visibility: visible;
  opacity: 1;
}
.videoSection__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.videoSection__desc .btns {
  display: flex;
  gap: 16px;
}
.video {
  width: 650px;
  height: 400px;
}
.mainEBookSection {
  padding-left: var(--width-unit);
  padding-right: var(--width-unit);
  margin-top: var(--yellow-line);
}
.mainEBook__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black);
  border-radius: 16px;
  height: var(--linea-rosa);
  padding: 48px;
  width: 80%;
  align-self: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-bottom: 32px;
}
.mainEBook__card:hover {
  transform: scale(1.05);
}

.mainEBook__img {
  width: 150px;
  transform: scale(2) rotate(10deg);

  position: relative;
  height: auto;
}

.mainEBook__desc {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

.btnDownload {
  align-self: self-start;
}

@media screen and (max-width: 1400px) {
  .mainContent {
    padding: var(--mobile-margin);
  }
}
@media screen and (max-width: 1200px) {
  .header {
    height: auto;
  }
  .banner {
    display: flex;
    justify-content: center;
    padding: 0;
    padding-top: calc(var(--linea-roja) + var(--linea-amarilla));
  }
  .contents {
    height: auto;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
  }
  .bannerImg {
    width: 75%;
    transform: none;
  }
  .banner__content {
    width: 100%;
    right: 0;
  }
  .contactBannerSection {
    display: flex;
    justify-content: center;
    height: auto;
    padding: 32px;
  }
  .mainContent {
    padding: var(--mobile-margin);
  }
  .mainEBook__card {
    height: auto;
  }
}
@media screen and (max-width: 1024px) {
  .videoSection {
    flex-direction: column;
  }
  .videoDrawer {
    width: 100%;
  }
  .contents > :last-child {
    position: relative;
    bottom: 0;
    left: 0;
  }
  .stickyContainer {
    position: static !important;
    width: 100% !important;
    gap: 16px;
  }
  .contactBannerSection .details {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .banner {
    display: flex;
    justify-content: center;
  }
  .contents {
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    padding: var(--mobile-margin);
  }

  .header {
    height: auto;
  }

  .bannerImg {
    width: 400px;
  }
  .contactBannerSection {
    flex-direction: column;
    width: 100%;
    gap: 64px;
  }
  .contactBannerSection .desc {
    width: 100%;
  }
  .contactBannerSection .btns {
    display: flex;
    flex-direction: column;
  }
  .contactBannerSection .btns > :first-child {
    width: 100% !important;
  }

  .spainBanner {
    flex-direction: column;
    padding: 32px;
  }

  .spainBanner .spainBannerImg {
    display: none;
  }
  .spainBanner .desc {
    top: 0;
  }
  .spainBanner .seeMore {
    width: 100%;
  }
  .banner__btns {
    width: 100%;
  }
  .contactWS {
    width: 100%;
  }
  .contactWS > * {
    width: 100% !important;
  }
  .mainContent {
    padding: 32px;
    flex-direction: column;
  }
  .mainContent .card {
    width: 100%;
  }

  .btn {
    width: 100%;
  }
  .imgSubBanner {
    width: 100% !important;
  }
}
