.page {
  background-color: var(--background);
  min-height: 100vh;
  width: 100%;
  overflow-y: hidden;
  --banner-height: calc(var(--width-unit) * 2);
  --yellow-line: calc(var(--width-unit) * 0.375);
  --green-line: calc(var(--width-unit) * 0.25);
  --mobile-margin: 32px;
  overflow-x: hidden;
}

.help {
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}

.wsBtn {
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}
.notification {
  padding: 16px;
  display: flex;
  width: 270px;
  background-color: var(--white);
  border-radius: 16px;
}

.header {
  height: var(--banner-height);
  display: flex;
  flex-direction: column;
}
.banner {
  position: relative;
  width: 100%;
  flex-grow: 1;
  padding-right: var(--width-unit);
  padding-left: var(--width-unit);
  padding-top: calc(var(--linea-roja) + var(--linea-amarilla));
  padding-bottom: var(--linea-roja);
  display: flex;
  background: linear-gradient(var(--gradient-banner), white);
}
.contents {
  display: flex;
  height: var(--width-unit);
  width: calc(var(--width-unit) * 3);
}
.underLine {
  border-bottom: 4px solid var(--primary);
}
.banner__bg {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.banner__content {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 8px;
  z-index: 1;
  width: 600px;
  gap: 24px;
}

.banner__btns {
  display: flex;
  height: 3.5rem;
}

.contactBannerSection {
  display: flex;
  width: 100%;
  background-color: var(--black);
  padding-left: var(--width-unit);
  padding-right: var(--width-unit);
  height: var(--linea-rosa);
  align-items: center;
  gap: 16px;
}
.contactBannerSection .desc {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contactBannerSection .links {
  display: flex;
  border: 1px solid var(--light-gray);
  border-radius: 16px;
  width: fit-content;
  padding: 4px 8px;
  gap: 8px;
  align-items: center;
}
.contactBannerSection .separator {
  width: 1px;
  height: 1rem;
  background-color: var(--light-gray);
}
.contactWS {
  flex-grow: 1;
}
.contactWS > * {
  width: 250px !important;
}
.videoBtn {
  background-color: var(--white);
  padding: 8px 32px;
  border: 1px solid var(--primary);
  border-radius: 12px;
}
.mainContent {
  display: flex;
  flex-direction: column;
  gap: var(--linea-roja);
  background: linear-gradient(var(--gradient-banner), white);
  padding-top: var(--linea-roja);
  padding-bottom: var(--linea-roja);
  padding-left: var(--width-unit);
  padding-right: var(--width-unit);
}

.bannerImg {
  width: 65%;
  position: relative;
  bottom: 32px;

  height: auto;
  object-fit: fill;
}

.videoSection {
  width: 100%;
  display: flex;
  gap: 32px;
}
.imgVideo {
  background-color: var(--black);
  height: 30vh;
}
.videoSection__desc {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.videoSection__desc .btn {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-self: flex-start;
}
.mainEBookSection {
  padding-left: var(--width-unit);
  padding-right: var(--width-unit);
  margin-top: var(--yellow-line);
}
.mainEBook__card {
  display: flex;
  align-items: center;
  background-color: var(--black);
  border-radius: 24px;
  height: var(--linea-rosa);
  padding: 40px;
}

.mainEBook__img {
  width: 450px;
  position: relative;
  height: auto;
}

.mainEBook__desc {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

.btnDownload {
  align-self: self-start;
}

.form {
  width: 100%;
  display: flex;

  justify-content: space-between;
  padding-left: var(--width-unit);
  padding-right: var(--width-unit);
  gap: 64px;
  padding-top: var(--linea-roja);
  padding-bottom: var(--linea-roja);
  background-color: var(--gray-blue);
}
.form__desc {
  display: flex;

  flex-direction: column;
  gap: 32px;
}
.form__inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 500px;
}

.form__inputs .line {
  display: flex;
  width: 100%;
  gap: 16px;
}
@media screen and (max-width: 1400px) {
  .mainContent {
    padding: var(--mobile-margin);
  }
}
@media screen and (max-width: 1200px) {
  .header {
    height: auto;
  }
  .banner {
    display: flex;
    justify-content: center;
    padding: 0;
    padding-top: calc(var(--linea-roja) + var(--linea-amarilla));
  }
  .contents {
    height: auto;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
  }
  .bannerImg {
    width: 75%;
    transform: none;
  }
  .banner__content {
    width: 100%;
    right: 0;
  }
  .contactBannerSection {
    display: flex;
    justify-content: center;
    height: auto;
    padding: 16px;
  }
  .mainContent {
    padding: var(--mobile-margin);
  }
  .mainEBook__card {
    height: auto;
  }
}
@media screen and (max-width: 1000px) {
  .videoSection {
    flex-direction: column;
  }
}
@media screen and (max-width: 800px) {
  .banner {
    display: flex;
    justify-content: center;
    padding-top: 120px;
  }
  .contents {
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    padding: var(--mobile-margin);
  }

  .header {
    height: auto;
  }

  .bannerImg {
    width: 400px;
  }
  .contactBannerSection {
    flex-direction: column;
    padding: var(--mobile-margin);
  }
  .banner__btns {
    width: 100%;
  }
  .contactWS {
    width: 100%;
  }
  .contactWS > * {
    width: 100% !important;
  }
  .mainContent {
    padding: 0;
  }
  .videoSection {
    flex-direction: column;
    padding: var(--mobile-margin);
  }
  .imgVideo {
    width: 100%;
    height: auto;
  }
  .mainEBook__card {
    border-radius: 0;
    padding: var(--mobile-margin);
  }
  .mainEBook__img {
    width: 100px;
    transform: scale(3);
  }
  .btn {
    width: 100%;
  }
  .form {
    padding: 32px;
    flex-direction: column;
    gap: 32px;
    justify-content: flex-start;
  }
  .form__inputs {
    width: 100%;
    gap: 16px;
  }
  .line > * {
    width: 50% !important;
  }
  .form__desc {
    gap: 0;
  }
}
