* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "lexend";
  src: url("./assets/fonts/Lexend-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "lexend";
  src: url("./assets/fonts/Lexend-SemiBold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "lexend";
  src: url("./assets/fonts/Lexend-Light.ttf");
  font-weight: 300;
}

:root {
  --dark-white: #d9d9d9;
  --white: #fafafa;
  --light-white: #fff;
  --white-transparent: #d9d9d9;
  --yellow-cream: #f6f4eb;
  --black: #1c2c3b;
  --dark-black: #1a1e23;
  --black-transparent: #1e22265e;
  --light-blue: #749bc2;
  --light-gray: rgba(159, 159, 159, 0.26);
  --gray: #8f8f8f;
  --gray-blue: #e3eaf1;
  --gray-light: #cfcdcd77;
  --gray-dark: rgb(83, 83, 83);
  --light-blue-transparent: #ccd6dd;
  --blue: #4682a9;
  --green: rgb(77, 219, 77);
  --light-green: rgb(122, 243, 122);
  --dark-green: #1e2226;
  --primary: #01dbb0;
  --primary-transparent: #01dbaf49;
  --secondary: #1a4789;
  --error: red;
  --primary-dark: #097474;
  --background: #eff0f2;
  --banner-bg: #e3eaf1;
  --gradient-banner: #d8e8e6;
  --background-light: #18181b;
  --background-dark: rgb(21, 26, 43);
  --background-container: var(--white-transparent);
  --container-border: var(--light-gray);
  --width-unit: calc(100vw / 4.5);
  --linea-amarilla: calc(100vw / 13);
  --linea-verde: calc(100vw / 24.5);
  --linea-rosa: calc(100vw / 6.67);
  --linea-roja: calc(100vw / 14.2);
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
}
html,
body {
  font-size: 18px;
}

img {
  height: auto;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 800px) {
  html,
  body {
    font-size: 14px;
  }
}
