.contactForm {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--light-green);
}
.nav {
  display: flex;
  justify-content: center;
}
.nav > :first-child {
  width: 230px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding-left: var(--width-unit);
  padding-right: var(--width-unit);
  padding-top: calc(100vw / 25);
  padding-bottom: calc(100vw / 20);
}
.content_sections {
  display: flex;
  position: relative;
}
.flecha {
  position: absolute;
  width: 200px;
  top: -12%;
  left: 35%;
}
.desc {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-right: 32px;
  width: 560px;
  padding-top: 64px;
}
.detail {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--light-green);
  padding: 24px;
  padding-top: 32px;
  padding-bottom: 60px;
  flex-grow: 1;
  border-radius: 16px;
  border: 2px solid var(--primary);
  box-shadow: -4px 4px 0px var(--primary);
}
.input_line {
  display: flex;
  gap: 16px;
}
.input_line > * {
  width: 280px;
}
.input_line input {
  height: 48px !important;
}
.benefits {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.line {
  display: flex;
  gap: 16px;
}
.usefullLinks {
  display: flex;
  gap: 32px;
}
.sendBtn {
  display: flex;
  justify-content: flex-end;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-transparent-25);
  padding-top: 32px;
  gap: 6px;
  padding-bottom: calc(var(--linea-amarilla) / 2);
  height: 120px;
}
.footer .links {
  display: flex;
  align-items: center;
  gap: 8px;
}
.separator {
  height: 0.77rem;
  border: 1px solid var(--black);
}
@media screen and (max-width: 1024px) {
  .nav > :first-child {
    width: 180px;
  }
  .content {
    padding: 24px;
    flex-direction: column;
  }
  .content_sections {
    flex-direction: column;
    gap: 24px;
  }
  .desc {
    width: 100%;
    padding-top: 0px;
  }
  .desc > :first-child {
    font-size: 24px;
  }
  .form {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
  .input_line {
    flex-direction: column;
  }
  .input_line > * {
    width: 100%;
  }
  .detail {
    gap: 20px;
  }
  .sendBtn {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .infoBtn {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .flecha {
    display: none;
  }
}
